<h1>Lists</h1>

<% @lists.each do |list| %>
    <ul>
        <p>
            <%= list.title %> |
            <%= link_to "编辑", edit_board_list_path(@board, list)  %> |
            <%= link_to "删除", board_list_path(@board, list), method: "delete" %>
        </p>
        <% enable_cards(list).each do |c| %>
            <li>
                <%= c.title %> |
                <%= link_to "编辑", edit_board_list_card_path(@board, list, c) %> |
                <%= link_to "删除", board_list_card_path(@board, list, c), method: "delete" %>
            </li>
        <% end %>
        <%= link_to "添加卡片", new_board_list_card_path(@board,list) %>
    </ul>
<% end %>

<hr />
<%= link_to "添加列表", new_board_list_path(@board) %>
