        <div class="wrapper clearfix">
            <div class="main clearfix">
                <span id="board-name" data-id="<%= @board.id %>"><%= @board.name %></span>
                <ul class="lists sortable-outer">
                    <% @lists.each do |list| %>
                        <li class="cards" id="list-<%= list.id %>" data-id="<%= list.id %>">
                            <div class="list-header">
                                <%= list.title %>
                                <%= link_to "删除", list_path(list), method: "delete", remote: true, :data => { :confirm => "删除是不可逆的，确定?" } %>
                            </div>
                            <div class="list-cards">
                                <% enable_cards(list).each do |c| %>
                                    <div class="card">
                                        <%= link_to c.title, card_path(c) %>
                                    </div>
                                <% end %>
                                <a class="open-card" id="open-card-<%= list.id %>" data-id=<%= list.id %> href="#">Add a card…</a>
                                <div class="card add-new-card" id="new-card-<%= list.id %>">
                                    <%= form_for :card, url: list_cards_path(list_id: list.id), remote: true do |f|%>
                                        <%= f.text_field :title, class: 'card-title-input' %>
                                        <p>
                                            <%= f.submit "创建", class: "btn" %>
                                            <%= link_to "取消", '', class: 'cancel',  data: {id: list.id} %>
                                        </p>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                    <li class="disabled add-list">
                        <%= form_for @list, url: board_lists_path(@board) do |f| %>
                            <%= f.text_field :title, class: "list-title-input", placeholder: "Add a list..." %>
                            <div class="edit-controls keep u-clearfix">
                                <p><%= f.submit "创建", class: "btn"%></p>
                            </div>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
