        <div class="wrapper clearfix">
            <div class="main clearfix">
                <%= @board.name %>
                <ul class="lists">
                    <% @lists.each do |list| %>
                        <li class="cards" id="list-<%= list.id %>">
                            <div class="list-header">
                                <%= list.title %>
                                <%= link_to "删除", list_path(list), method: "delete", remote: true, :data => { :confirm => "删除是不可逆的，确定?" } %>
                            </div>
                            <div class="list-cards">
                                <% enable_cards(list).each do |c| %>
                                    <div class="card">
                                        <%= link_to c.title, card_path(c) %>
                                    </div>
                                <% end %>
                                <a class="open-card" href="#">Add a card…</a>
                                <div class="card add-new-card">
                                    <%= form_for :card, url: list_cards_path(list_id: list.id), remote: true do |f|%>
                                        <%= f.text_field :title, class: 'card-title-input' %>
                                        <p> <%= f.submit "创建" %>  <%= f.button "取消", id: 'cancel' %>%</p>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    <% end %>
                    <li class="add-list">
                        <%= form_for @list, url: board_lists_path(@board), remote: true do |f| %>
                            <%= f.text_field :title, class: "list-title-input", placeholder: "Add a list..." %>
                            <div class="edit-controls keep u-clearfix">
                                <p><%= f.submit "创建"%></p>
                            </div>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
