<h1>Mini-Trello Develop Todo</h1>
<% if current_user %>
    <p><%= current_user.username %> | <%= link_to "登出", :logout, method: "delete" %> | <%= link_to "动态", :activities %></p>
<% else %>
    <p><%= link_to "登录", :login %>|<%= link_to "注册", :signup %></p>
<% end %>
<ul>
    <li>用户系统(Users)</li>
    <ul>
        <li><del>注册</del></li>
        <li><del>登录</del></li>
        <li><del>登出</del></li>
        <li><del>测试</del></li>
        <li>权限分配</li>
        <ul>
            <li>看板permission</li>
            <li>修改权限</li>
            <li>角色分配</li>
        </ul>
    </ul>
    <li>看板(Boards)</li>
    <ul>
        <li><del>创建看板</del></li>
        <li><del>展示用户所有看板</del></li>
        <li><del>修改看板元信息</del></li>
        <li><del>删除看板</del></li>
    </ul>
    <li>列表(Lists)</li>
    <ul>
        <li>ajax</li>
        <li>拖动、点击可编辑</li>
    </ul>
    <li>卡片(Cards)</li>
    <li>卡片留言讨论(CardComments)</li>
    <li>活动通知</li>
    <ul>
        <li><del>看板</del></li>
        <li><del>列表</del></li>
        <li><del>卡片</del></li>
        <li>卡片留言</li>
    </ul>
    <li>任务标签</li>
    <ul>
        <li>创建table绑定到board上</li>
        <li>UI与交互设计</li>
    </ul>
</ul>


